#countLabel {
  display: block;
  text-align: center;
  font-size: 50px;
}

.btnbox {
  display: flex;
  margin: 50px 20px;
}

.btn {
  font-size: 30px;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  border-radius: 5px;
  margin: 10px 20px;
  display: inline;
}

/* 도대체 왜 버튼 위치를 justify-content:space-btwn 으로 조절할수 없는지 모르겠다  */
